<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/share.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share Assets</title>
</head>
<body>
  <main>
    <header>
      <div id="burger"><button id="burger-button"><img src="/assets/hamburger_menu.svg" alt=""></button><h1>File Uploader App</h1></div>
      <h2><%= user.name %></h2>
      <div class="burger-menu" id="burger-menu">
        <ul>
          <li>
            <a href=<%= `/logout/` %>>Logout</a>
          </li>
        </ul>
      </div>
    </header>
    <section>
      <div>In 
        <a href=<%= `/file/explorer/${paths[0].id}` %>><img src=<%= elementImg %> alt=<%= elementType %>></a>
        <% paths.forEach((path,i) => { 
          if (i === 0 || i < paths.length-1) { %>
            <a href=<%= `/file/explorer/${path.id}` %>><%= path.name %></a>
            <%= (path.name === '/') ? `` : ` /` %>
            <% } %>
            
            <% }); %>
          </div>
        </section>
        <section>
          <h3>Manage sharing for: <%= element.name %></h3>
          <form action=<%= locals.action %> method="post">
            <input type="hidden" name="authorId" value=<%= user.id %>>
            <input type="hidden" name="parentId" value=<%= element.parentId %>>
            <input type="hidden" name=<%= elementId %> value=<%= element.id %>>
            <label for="share-duration">Share Duration (in days):</label>
            <div id="duration-ctrl">
              <input type="range" step="1" min="0" max="7" name="share-duration" id="share-duration" list="markers">
              <datalist id="markers">
                <option value="0" label="0"></option>
                <option value="1" label="1"></option>
                <option value="2" label="2"></option>
                <option value="3" label="3"></option>
                <option value="4" label="4"></option>
                <option value="5" label="5"></option>
                <option value="6" label="6"></option>
                <option value="7" label="7"></option>
              </datalist>
            </div>
            <button type="submit">Submit</button>
          </form>
          
          <p>To disable sharing select 0 as the share duration then click Submit.</p>
        </section>

      </main>

    </body>
    </html>